@import 'ui';
@import 'background';
@import 'monster';

.hello {
  color: red;
}
h1 {
	font-family: sans-serif;
}

#loggedIn {
	display: none;
}

#drag-1, #drag-2 {
  width: 50px;
  height: 50px;
  margin: 0;
  background-color: #29e;


  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.not-logged-in {
	display: none;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: $uiBrand;
    text-align: center;
    color: white;

    .logged-out & {
    	display: block;
    }
}